<template>
    <div class="col-lg-offset-3">
        <div class="row">
            <h1>Welcome to Trip Planner</h1>
        </div>
        <div class="row">
            <p>Here you can plan your amazing trips. Please
                start by <a href="#" click.delegate="showLoginDialog()">logging in</a>.</p>
        </div>
    </div>
</template>
