
.individualError {
    background: red;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    color: white;

    padding: 0.3em;
    margin: 0.3em;
}

#logout-link {
    position: absolute;
    right: 10px;
    top: 10px;
}